<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer-fragment">

    <div class=" font-light text-gray-800 italic flex border-t mt-1">
        <div class="m-3 flex">
            <img class="w-6 m-1" src="images/email.png">
            <span class="mt-1">zckxw@naver.com</span>
        </div>
        <div class="m-3 flex">
            <img class="w-6 m-1" src="images/gith.png">
            <span class="mt-1">https://github.com/ldw1728</span>
        </div>
    </div>

</th:block>