<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head-fragment">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>

        <title></title>

        <!-- common js -->
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/node_modules/axios/dist/axios.min.js}"></script>
        <script th:src="@{/js/axiosConfig.js}"></script>
        <script th:src="@{/node_modules/validate.js/validate.min.js}"></script>
        <script th:src="@{/node_modules/quill/dist/quill.js}"></script>


        <!-- common css -->
        <link rel="stylesheet" th:href="@{/css/tailwind/output.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/node_modules/quill/dist/quill.snow.css}">

    </head>
</th:block>

<scrip></scrip>

</html>