<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/empty-layout}">

<th:block layout:fragment="content-fragment">

    <div class="flex min-h-full flex-col justify-center lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 id="loginTitle" class="text-cursor relative mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900">
                &nbsp;
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" name="lForm">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                    <div class="mt-2">
                        <input id="email" name="email" type="email" autocomplete="email" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button id="loginBtn" type="button" class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-neutral-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                Not a member?
                <a href="/member/join" class="font-semibold leading-6 text-black hover:text-black underline">sign up</a>
            </p>
        </div>
    </div>

    <script src="js/validateConfig.js"></script>
    <script th:inline="javascript">

        domReady(()=>{
            addClickEvnt('#loginBtn', goLogin);
            pressEnter();
            titleTyping();
        });

        function titleTyping(){

            titleBlink();

            const title     = 'CODE DRAWER.';
            const titleEl   = document.querySelector('#loginTitle');

            titleEl.innerHTML = '&nbsp;';

            for (let i = 0; i < title.length; i++) {
                setTimeout(()=>{
                    titleEl.innerHTML = titleEl.innerHTML + title[i];
                }, 150 * i);
            }

            setTimeout(titleTyping, 5000);

        }

        function titleBlink() {
            const blink = () => {
                document.querySelector('#loginTitle').classList.toggle('text-cursor-none');
            }
            setInterval(blink, 500);
        }

        const pressEnter = () => {
            document.querySelectorAll('input').forEach(node => {
                node.addEventListener('keypress', () => {
                    !(window.event.keyCode === 13) || goLogin();
                });
            })
        }

        function goLogin(){

            let form = document.lForm;

            validateForm(form, ['email', 'password'], LOGIN_CONSTRAINTS)
            .then(async (result) => {
                await axios.post("/login",
                    {   email   :form.email.value,
                        password:form.password.value }
                    )
                    .then((res) => {
                        location.href = '/home';
                    });
            })
            .catch((err)=>{
                let errorCode = err?.response?.status;
                if (errorCode == 400 || errorCode == 401) {
                    showVaidMsg({
                        email: ['이메일 혹은 바밀번호를 다시 확인해 주세요.']
                    });
                }
            });

        }


    </script>

</th:block>


</html>
