<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="post-form-fragment">

    <!-- 저장 / 수정일 경우 해당 폼을 표시 -->

    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-5" >
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="title" id="title" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Title">
                        </div>
                    </div>
                </div>
                <div class="col-span-full">
                    <label for="codeCntns" class="block text-sm font-medium leading-6 text-gray-900">Contents</label>
                    <th:block th:replace="common/fragments/select::select-fragment"></th:block>
                    <div class="mt-2">
                        <div id="editor1" style="height: 15rem"></div>
                        <div id="aceEditor" class="hidden h-72 text-sm"></div>
                        <div class="hidden flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <textarea name="codeCntns" id="codeCntns" class=" h-80 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-span-full">
                    <label for="desc" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                    <div class="mt-2">
                        <div id="editor2" style="height: 15rem"></div>
                        <div class="hidden flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <textarea name="desc" id="desc" class=" h-60 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-span-full">
                    <label for="desc" class="block text-sm font-medium leading-6 text-gray-900">public</label>
                    <div class="mt-2">
                        <input name="openType" type="radio" value="Y" checked><span class="mx-2">공개</span>
                        <input name="openType" type="radio" value="N"><span class="mx-2">비공개</span>
                    </div>
                    <div class="mt-1 text-xs text-gray-500">* 공개 시 다른사람에게 해당 게시글이 노출될 수 있습니다.</div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="">
    <input type="hidden" name="cateId" value="">

    <script src="js/validateConfig.js"></script>

    <script th:inline="javascript">

        function initCodeCntns() {
            document.dForm.codeCntns.value = '';
        }

        /** 에디터 생성 */
        function createEditor(){

            const codeCntns = document.dForm.codeCntns;
            const editorSelectors = ['#editor1', '#editor2'];

            editorSelectors.forEach(selector => {

                const editor = createQuillEditor(selector);

                editor.on('text-change', ()=>{
                    codeCntns.value = getEditorHtml(selector);
                });

            })
        }

        /** 에디터에 작성된 내용을 html데이터로 가져옴 */
        function getEditorHtml(editorSelector){
            return document.querySelector(`${editorSelector} .ql-editor`)?.innerHTML;
        }

        function toggleContentsEditor(isHddn){
            const element = document.querySelector('#editor1');

            if(isHddn){
                element.previousElementSibling.classList.remove('hidden');
                element.classList.remove('hidden');
            }
            else{
                element.previousElementSibling.classList.add('hidden');
                element.classList.add('hidden');
            }
        }

        /** 모든 에디터 숨김 */
        function destroyAllEditor(){
            removeElementsAll('.ql-toolbar');
            removeElementsAll('.ql-editor');
            removeElementsAll('.ql-tooltip');
            document.querySelectorAll('[id^="editor"]').forEach(el=>{
                el.className = '';
            })
        }

        /** 에디터 초기화 */
        function editorInit(content1='', content2='', cntnsType){

            createEditor();

            if (!cntnsType || cntnsType === 'text') {
                cntnsType = 'text';
                document.querySelector('#editor1 .ql-editor').innerHTML = content1;
            }
            else{
                setAceEditorMode(cntnsType);
                setAceEditorValue(content1);
                showAceEditor();
                toggleContentsEditor(false);
            }
            document.querySelector('#editor2 .ql-editor').innerHTML = content2;

            selectCodeType(cntnsType);
        }

        /** 폼 초기화 */
        function formInit(post){

            showElement('#dForm');

            if(post){
                if (post.category.memId === [[${LoginUser}]]?.id) {
                    const form              = document.dForm;
                    form_tmp.title.value        = post.title;
                    //form.codeCntns.value    = post.codeCntns;
                    //form.desc.value         = post.desc;
                    form_tmp.id.value           = post.id;
                    form_tmp.openType.value     = post.openType;
                    form_tmp.cateId.value       = currCateId;
                    editorInit(post.codeCntns, post.desc, post.cntnsType);
                }
                else{
                    alert('잘못된 접근입니다.');
                    location.href='/home';
                }
            }
            else{
                editorInit();
            }
        }

        /** 저장 */
        function save(){

            const form = document.dForm;

            if (!confirm('저장하시겠습니까?')) {
                return;
            }

            form_tmp.cateId.value       = currCateId;

            validateForm(form_tmp, ['title', 'codeCntns'], DETAIL_CONSTRAINTS)
                .then(async (resultObj) => {

                    await axios.post('/post', form_tmp)
                        .then(res => {
                            location.reload();
                        })
                        .catch(err => {
                            console.error(err);
                        });
                })
        }

        /** 수정 */
        function update() {

            const form = document.dForm;

            if (!confirm('수정하시겠습니까?')) {
                return;
            }

            validateForm(form_tmp, ['title', 'codeCntns'], DETAIL_CONSTRAINTS)
                .then(async resultObj => {
                    await axios.patch('/post', form_tmp)
                        .then(res => {
                            location.reload();
                        });
                });

        }

        /** 삭제 */
        async function clickDeleteBtn() {
            const id = document.dForm.id.value;
            if (id) {
                await axios.delete(`/post/${id}`)
                    .then(res => {
                        location.reload();
                    });
            }
        }


    </script>
</th:block>
