<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="post-list-fragment">
    <div id="postContainer" class="hidden-scoll md:w-11/12 h-3/5 my-10 py-10 mx-auto whitespace-nowrap overflow-y-auto">

        <div id="listBtns" class="hidden absolute w-fit text-center right-32 bottom-32">
            <div id="addPostBtn" class="m-2 pt-2 h-10 w-10 rounded-full bg-black text-white font-black cursor-pointer">+</div>
            <div id="deleteCateBtn" class="m-2 pt-2 h-10 w-10 rounded-full bg-black text-white font-black cursor-pointer">-</div>
        </div>

    </div>


    <th:block th:insert="pages/post/detail::post-detail-fragment"></th:block>

    <script th:inline="javascript">
        let CURR_PAGE = 0;

        domReady(()=>{
            addClickEvnt('#addPostBtn', openDetail);
            addClickEvnt('#deleteCateBtn', deleteCate);
            document.querySelector('#postContainer').addEventListener('scroll', scrollPaging);
            toggleListBtns();
        });

        function toggleListBtns(){
            if(currCateId){
                showElement('#listBtns');
            }
            else{
                hiddenElement('#listBtns');
            }
        }

        function newPostElement(obj){
            return `
                <div name="postEl" class="md:w-8/12 mx-auto m-2">
                    <button onclick="clickPost(this)" class="py-1 px-2 w-full ring-1 ring-inset ring-gray-300 hover:bg-gray-50 h-8 rounded-md shadow-sm" data-post-id="${obj.id}">
                        <span>${obj.title}</span>
                    </button>
                </div>
            `
        }

        function attatchList(list){

            const postContain = document.querySelector('#postContainer');
            //removeElementsAll('[name="postEl"]');

            list.forEach((item, idx) => {
                let newPost = newPostElement(item);
                postContain.insertAdjacentHTML('beforeend', newPost);
            })
        }

        async function reloadList(){
            await axios.get(`/post/${currCateId}?page=${CURR_PAGE}&size=15`)
            .then(res => {
                CURR_PAGE ++;
                attatchList(res.data.content);
            });
        }

        async function clickPost(target){

            const id = target.dataset.postId;

            await axios.get(`/post/${currCateId}/${id}`)
                .then(res => {
                    openPostDetail(res.data);
                })
                .catch(err => {
                    console.error(err)
                })

        }

        /** 카테고리 삭제 */
        async function deleteCate() {

            if (!confirm('현재 카테고리를 삭제하시겠습니까? \n 카테고리의 게시글도 모두 삭제됩니다.')) {
                return;
            }

            await axios.delete(`/category/${currCateId}`)
            .then(res => {
                storePathHtml('');
                location.reload();
            });
        }

        /** 스크롤 페이징 */
        function scrollPaging() {
            // 스크롤 끝에 오면
            if (Math.ceil(this.scrollTop + this.offsetHeight) >= this.scrollHeight) {
                reloadList();
            }
        }

    </script>
</th:block>

</html>