<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="post-list-fragment">

    <div id="postContainer" class="hidden-scoll md:w-11/12 h-3/5 my-10 py-10 md:mx-auto mx-10 whitespace-nowrap overflow-y-auto">
        <div id="emptyDiv" class="hidden font-light text-xl text-gray-700 text-center"></div>
    </div>

    <th:block th:if="${#strings.contains(biz.uri, 'home')}" >
        <th:block th:insert="pages/post/form::post-form-fragment"></th:block>
        <div id="listBtns" class="hidden transition-all absolute w-fit text-center md:right-32 md:bottom-32 right-10 bottom-28">
            <div id="addPostBtn" class="m-2 pt-2 h-10 w-10 rounded-full bg-black text-white font-black cursor-pointer">+</div>
            <div id="deleteCateBtn" class="m-2 pt-2 h-10 w-10 rounded-full bg-black text-white font-black cursor-pointer">-</div>
        </div>
    </th:block>
    <th:block th:if="${#strings.contains(biz.uri, 'search') || #strings.contains(biz.uri, 'store')}" th:insert="pages/post/detail::post-detail-fragment"></th:block>

    <script th:inline="javascript">
        let CURR_PAGE = 0;

        domReady(()=>{
            document.querySelector('#postContainer').addEventListener('scroll', scrollPaging);
            toggleListBtns();
            if(isExistElement('#listBtns')){
                addClickEvnt('#deleteCateBtn'   , deleteCate);
                addClickEvnt('#addPostBtn'      , openDetail);
            }
        });

        function pageInit() {
            removeElementsAll('[name="postEl"]');
            CURR_PAGE = 0;
        }

        function toggleListBtns(){
            if(typeof currCateId !== "undefined" && currCateId){
                showElement('#listBtns');
            }
            else{
                hiddenElement('#listBtns');
            }
        }

        function newPostElement(obj){
            return `
                <div name="postEl" class="md:w-8/12 mx-auto m-2">
                    <button onclick="clickPost(this)" class="py-1 px-2 w-full ring-1 ring-inset ring-gray-300 hover:bg-gray-50 h-8 rounded-md shadow-sm" data-post-cateid="${obj.category.id}" data-post-id="${obj.id}">
                        <div class="relative w-full grid grid-cols-4 text-center">
                            <div class="w-full text-sm text-gray-400 truncate " style="margin-top:2px" >${obj.cntnsType || 'text'}</div>
                            <div class="col-start-2 col-span-3 w-full truncate text-sm mt-1" >${obj.title}</div>
                        </div>
                    </button>
                </div>
            `
        }

        function attatchList(list){

            const postContain = document.querySelector('#postContainer');
            //removeElementsAll('[name="postEl"]');

            list.forEach((item, idx) => {
                let newPost = newPostElement(item);
                postContain.insertAdjacentHTML('beforeend', newPost);
            })
        }

        async function reloadList(){
            await axios.get(`/post/${currCateId}?page=${CURR_PAGE}&size=15`)
            .then(res => {
                if (res.data.content.length > 0) {
                    hideEmptyDiv();
                    CURR_PAGE ++;
                    attatchList(res.data.content);
                }else{
                    showHddnEmptyDiv("저장된 게시글이 존재하지 않습니다.");
                }
            });
        }

        async function clickPost(target){

            const id = target.dataset.postId;
            let cateId = '';

            if(typeof currCateId !== "undefined"){
                cateId = currCateId;
            }
            else{
                cateId = target.dataset.postCateid;
            }

            await axios.get(`/post/${cateId}/${id}`)
                .then(res => {
                    openPostDetail(res.data);
                })
                .catch(err => {
                    console.error(err);
                    //location.reload();
                })

        }

        /** 카테고리 삭제 */
        async function deleteCate() {

            if (!confirm('현재 카테고리를 삭제하시겠습니까? \n 카테고리의 게시글도 모두 삭제됩니다.')) {
                return;
            }

            await axios.delete(`/category/${currCateId}`)
            .then(res => {
                storePathHtml('');
                location.reload();
            });
        }

        /** 스크롤 페이징 */
        function scrollPaging() {
            // 스크롤 끝에 오면
            if (Math.ceil(this.scrollTop + this.offsetHeight) >= this.scrollHeight) {
                reloadList();
            }
        }

        function showHddnEmptyDiv(msg){
            const emptyDiv = document.querySelector('#emptyDiv');
            if(!isExistElement('[name="postEl"]')){
                emptyDiv.innerHTML = msg;
                emptyDiv.classList.remove('hidden');
            }
            else{
                emptyDiv.classList.add('hidden');
            }
        }

        function hideEmptyDiv() {
            document.querySelector('#emptyDiv').classList.add('hidden');
        }

    </script>
</th:block>

</html>