<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}">


<th:block layout:fragment="content-fragment">

    <!-- 카테고리 표시 -->
    <section th:replace="common/fragments/category::category-fragment"></section>

    <th:block th:replace="pages/post/list :: post-list-fragment"></th:block>


    <script th:inline="javascript">
        domReady(()=>{
            getStoredPathHtml();
        })

        /** 저장된 경로를 불러온다. */
        function getStoredPathHtml() {
            const ls = window.localStorage;
            const pathHTML = ls.getItem(STORED_PATH);
            if(pathHTML){
                const pathSec = document.querySelector('#pathSec');
                pathSec.innerHTML = pathHTML;
                if(pathSec.lastElementChild?.lastElementChild){
                    pathSec.lastElementChild?.lastElementChild?.click();
                }
                else{
                    pathSec.lastElementChild?.click();
                }
            }
            else{
                reloadCate('');
            }
        }

        /** 경로를 저장한다. */
        function storePathHtml(pathHTML = document.querySelector('#pathSec').innerHTML) {
            const ls = window.localStorage;
            ls.setItem(STORED_PATH, pathHTML);
        }
    </script>

</th:block>

</html>