@font-face {
    font-family: 'blinker';
    font-weight: normal;
    src: url('font/Blinker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'blinker-light';
    font-weight: 300;
    src: url('font/Blinker-Light.ttf') format('truetype');
}

html, body{
    font-family: 'blinker blinker-light';
    width: 100%;
    height: 100%;
}

.necess {
    color: red;
    margin-inline: 2px;
}

.c-category {
    width: 100%;
    height: 10%;
}

.hidden-scoll{
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.hidden-scoll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

textarea{
    resize:none
}

.text-cursor::after {
    content: "";
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: black;
}

.text-cursor-none::after {
    display: none;
}
