html, body{
    width: 100%;
    height: 100%;
}

.necess {
    color: red;
    margin-inline: 2px;
}

.c-category {
    width: 100%;
    height: 10%;
}

.hidden-scoll{
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.hidden-scoll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

textarea{
    resize:none
}
